// * {
//   outline: 1px solid red;
// }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 40%;
  max-width: 100%;
}
