<table
  class="table mat-elevation-z8"
  mat-table
  recycleRows
  [dataSource]="certificates"
>
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let certificate; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="identifier">
    <th mat-header-cell *matHeaderCellDef>Identifier</th>
    <td mat-cell *matCellDef="let certificate">{{ certificate.identifier }}</td>
  </ng-container>

  <ng-container matColumnDef="intervention">
    <th mat-header-cell *matHeaderCellDef>Intervention</th>
    <td mat-cell *matCellDef="let certificate">
      {{ certificate.intervention }}
    </td>
  </ng-container>

  <ng-container matColumnDef="certificate">
    <th mat-header-cell *matHeaderCellDef>Preview</th>
    <td
      class="cursor-pointer"
      (click)="preview(certificate)"
      mat-cell
      *matCellDef="let certificate"
    >
      <mat-icon>visibility</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="download">
    <th mat-header-cell *matHeaderCellDef>Download</th>
    <td
      class="cursor-pointer"
      mat-cell
      *matCellDef="let certificate"
      (click)="download(certificate)"
    >
      <mat-icon>download</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
